<h1>Startup Weekend is here!</h1>
<p>This is a simple generator created by <%= link_to "http://jhliberty.com/", 'John-Henry Liberty' %> for startup weekend!</p>
<p>
	This basic application theme is the first step to having a working app up and running faster than you can say "Startup weekend rocks!"
	It is responsive by default since it utilizies Twitter's Boostrap framework. All you need are css classes on your HTML elements to adjust column size at different screen sizes.
</p>
<p>
	The main application generator creates a title helper module to easily add your site name and the semantic page name in the title for SEO purposes. The title helper is located in /app/helpers/application_helper.rb. It also generates a couple static pages (including this one) which are available in the /app/views/static_pages/ directory. 
</p>
<p>
  
</p>